<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../style.css">
    <meta charset="utf-8">
    <title>The result is...</title>
  </head>
  <body>
    <h1>The result is... <%= @result %></h1>
    <h3><a href="/welcome">Play Again</a></h3>
  </body>
</html>
