<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href"/style.css">
    <meta charset="utf-8">
    <title>Roshambo</title>
  </head>
  <body>
    <h1>Rock, Paper, Scissors!</h1>
    <p> The rules are simple: bla bla bla bla rules etc </p>
    <nav>
      <ul>
        <li><a href="/rock/scissors">play</a></li>
        </ul>
      </nav>
  </body>
</html>
