<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title>Roshambo</title>
  </head>
  <body>
    <h1>Rock, Paper, Scissors!</h1>
    <h2> The rules are simple: choose one of the options below and the computer
      will choose another. <br> Rock beats Scissors, Scissors beat Paper, Paper
      beats Rock. Two of the same result ends in a tie. <br>Go.</h2>
    <nav>
      <ul>
        <li><h3><a href="/random/rock">Rock</a></h3></li>
        <li><h3><a href="/random/paper">Paper</a></h3></li>
        <li><h3><a href="/random/scissors">Scissors</a></h3></li>
        </ul>
      </nav>
  </body>
</html>
